<h1><%= @collection.name %></h1>

<p>This Collection contains books</p>

<% if current_user == @collection.user %>
<%= link_to 'Edit', edit_collection_path(@collection) %>
<%= link_to 'Delete', @collection, method: :delete, data: { confirm: 'Are you sure?', class: "btn btn-danger"} %>
<% end %>
<p><%= link_to 'Back', collections_path %></p>
