$navbarText: white;

@import "bootstrap";

$grayLight: #999;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.span4 {
  border: 1px solid #000;
}

.lead {
  text-align: center;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.hero-unit h1 {
  font-family: 'Bangers';
  text-transform: uppercase;
}

h1#comicred {
  text-shadow: 2px 2px #000;
}

span#datab {
  color: #1B8EE0;
  text-shadow: 2px 2px #000;
  letter-spacing: 1px;
}

span#dbox {
  color: #FFFFFF;
  text-shadow: 2px 2px #000;
  letter-spacing: 1px
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  font-size: 2.5em;
  color: #FFF;
  text-transform: uppercase;
  padding-top: 4px;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  text-align: center;
  margin: auto;
  /*font-family: "Helvetica";*/
  font-family: 'Bangers', cursive;
	&:hover {
  	color: #fff;
  	text-decoration: none;
	}
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}